Repository Yasya23/Tsilovo_planner: changes, and which lint-staged commands are due for each by the changed paths.
All: cd planner-fe && eslint --fix, cd planner-fe && prettier --write, cd planner-be && eslint --fix, cd planner-be && prettier --write

docs: add commit rules
  docs/COMMIT_RULES.md
  docs/README.md
  planner-be/package.json
Due: cd planner-be && prettier --write

fix: infinity loop in the interceptor
  planner-be/package.json
  planner-be/src/modules/app.module.ts
  planner-be/src/modules/auth/auth.controller.ts
  planner-be/src/modules/auth/helpers/auth.ts
  planner-be/yarn.lock
  planner-fe/package.json
  planner-fe/src/api/interceptors.ts
  planner-fe/src/middleware.ts
Due: cd planner-fe && eslint --fix, cd planner-fe && prettier --write, cd planner-be && eslint --fix, cd planner-be && prettier --write

feat: maximum rate of request be
  planner-be/src/main.ts
  planner-be/src/modules/app.module.ts
  planner-be/src/modules/auth/auth.controller.ts
  planner-be/src/modules/auth/helpers/auth.ts
  planner-fe/src/features/auth/hooks/useAuth.ts
  planner-fe/src/middleware.ts
Due: cd planner-fe && eslint --fix, cd planner-fe && prettier --write, cd planner-be && eslint --fix, cd planner-be && prettier --write

fix: files import pathes
  .gitignore
  planner-fe/src/app/[locale]/Home.module.scss
  planner-fe/src/app/[locale]/page.tsx
  planner-fe/src/app/[locale]/planner/(pages)/settings/page.tsx
  planner-fe/src/app/[locale]/planner/components/_sidebar/Sidebar.tsx
  planner-fe/src/features/planning/components/_parts/manage-goal/ManageGoal.tsx
  planner-fe/src/features/planning/components/_parts/manage-task/ManageTask.tsx
  planner-fe/src/features/planning/components/_parts/skeleton/Skeleton.tsx
  planner-fe/src/features/planning/components/_parts/tasks-section/TasksSection.tsx
  planner-fe/src/features/planning/components/_parts/week-header/WeekHeader.tsx
  planner-fe/src/features/planning/components/goals-list/GoalsList.tsx
  planner-fe/src/features/planning/components/planner/Planner.tsx
  planner-fe/src/features/planning/components/weekly-statistic/WeeklyStatistic.tsx
  planner-fe/src/features/planning/components/weekly-todo/WeeklyTodo.tsx
  planner-fe/src/features/settings/components/Settings.module.scss
  planner-fe/src/features/settings/components/Settings.tsx
  planner-fe/src/pages/home/index.tsx
  planner-fe/src/shared/components/LogOut.tsx
  planner-fe/src/shared/components/forms/UpdateInfo.tsx
  planner-fe/src/shared/components/ui/SkeletonLoader.tsx
  planner-fe/src/shared/components/ui/avatar/Avatar.tsx
  planner-fe/src/shared/components/ui/buttons/IconButton.tsx
  planner-fe/src/shared/components/ui/themeToggle/ThemeToggle.tsx
  planner-fe/tasks/validation.md
Due: cd planner-fe && eslint --fix, cd planner-fe && prettier --write

style: fix styles
  planner-fe/src/features/planning/components/planner/Planner.module.scss
  planner-fe/src/shared/components/ui/Dropdown/_parts/menu-item/Item.module.scss
  planner-fe/src/shared/components/ui/Dropdown/_parts/menu-item/MenuItem.tsx
Due: cd planner-fe && eslint --fix, cd planner-fe && prettier --write

fix: tasks drag and drop
  planner-be/src/modules/auth/auth.controller.ts
  planner-fe/messages/en/common.json
  planner-fe/messages/uk/common.json
  planner-fe/src/app/[locale]/planner/components/_sidebar/Sidebar.module.scss
  planner-fe/src/app/[locale]/planner/components/_sidebar/Sidebar.tsx
  planner-fe/src/features/auth/components/_parts/LoginForm.tsx
  planner-fe/src/features/auth/components/_parts/RegisterForm.tsx
  planner-fe/src/features/auth/hooks/useAuth.ts
  planner-fe/src/features/planning/components/_parts/day-header/DayHeader.module.scss
  planner-fe/src/features/planning/components/_parts/day-section/DaySection.module.scss
  planner-fe/src/features/planning/components/_parts/day-section/DaySection.tsx
  planner-fe/src/features/planning/components/goals-list/GoalsList.tsx
  planner-fe/src/features/planning/components/planner/Planner.module.scss
  planner-fe/src/features/planning/components/planner/Planner.tsx
  planner-fe/src/features/planning/components/weekly-todo/WeeklyTodo.tsx
  planner-fe/src/features/planning/context/usePlanningContext.tsx
  planner-fe/src/features/planning/helpers/filter-tasks-by-goal.ts
  planner-fe/src/features/planning/hooks/useDragDrogHandler.ts
  planner-fe/src/features/statistics/components/_parts/skeleton/Skeleton.tsx
  planner-fe/src/features/statistics/services/statistics.service.ts
  planner-fe/src/shared/components/LogOut.tsx
  planner-fe/src/shared/components/ui/buttons/Button.tsx
  planner-fe/src/shared/components/ui/input/Input.module.scss
  planner-fe/src/shared/icons/icons.ts
  planner-fe/src/styles/globals.scss
Due: cd planner-fe && eslint --fix, cd planner-fe && prettier --write, cd planner-be && eslint --fix, cd planner-be && prettier --write

fix: update useDragAndDrop
  planner-be/src/modules/goals/goals.service.ts
  planner-be/src/modules/statistics/statistics.service.ts
  planner-fe/src/features/planning/components/_parts/manage-task/ManageTask.tsx
  planner-fe/src/features/planning/components/weekly-todo/WeeklyTodo.tsx
  planner-fe/src/features/planning/hooks/useDragDrogHandler.ts
  planner-fe/src/features/planning/hooks/usePlanning.ts
Due: cd planner-fe && eslint --fix, cd planner-fe && prettier --write, cd planner-be && eslint --fix, cd planner-be && prettier --write

feat: setting page
  planner-fe/messages/en/common.json
  planner-fe/messages/uk/common.json
  planner-fe/src/features/settings/components/Settings.module.scss
  planner-fe/src/features/settings/components/Settings.tsx
  planner-fe/src/features/settings/components/_parts/change-email/ChangeEmail.module.scss
  planner-fe/src/features/settings/components/_parts/change-email/ChangeEmail.tsx
  planner-fe/src/features/settings/components/_parts/change-password/ChangePassword.tsx
  planner-fe/src/features/settings/helpers/update-email-schema.ts
  planner-fe/src/features/settings/helpers/update-password-schema.ts
  planner-fe/src/features/statistics/components/Statistics.tsx
  planner-fe/src/shared/components/ui/Dropdown/_parts/message/Message.tsx
  planner-fe/src/shared/components/ui/buttons/Button.tsx
Due: cd planner-fe && eslint --fix, cd planner-fe && prettier --write

feat: add image to the mane page
  planner-fe/messages/en/common.json
  planner-fe/messages/en/home.json
  planner-fe/messages/uk/common.json
  planner-fe/messages/uk/home.json
  planner-fe/public/images/planner.png
  planner-fe/src/app/[locale]/Home.module.scss
  planner-fe/src/app/[locale]/page.tsx
  planner-fe/src/app/[locale]/planner/(pages)/help/page.tsx
  planner-fe/src/app/[locale]/planner/layout.tsx
  planner-fe/src/features/planning/components/_parts/manage-goal/ManageGoal.tsx
  planner-fe/src/middleware.ts
  planner-fe/src/shared/components/how-it-works/HowItWorks.module.scss
  planner-fe/src/shared/components/how-it-works/HowItWorks.tsx
  planner-fe/src/shared/components/ui/avatar/Avatar.tsx
Due: cd planner-fe && eslint --fix, cd planner-fe && prettier --write

feat: vercel.json for backend
  planner-be/package.json
  planner-be/versel.json
  planner-be/yarn.lock
Due: cd planner-be && prettier --write

fix: dependencies
  planner-fe/src/features/statistics/components/_parts/SelectYear.tsx
  planner-fe/src/shared/components/ui/LanguageSwitch.tsx
  planner-fe/src/shared/components/ui/Select/Select.tsx
Due: cd planner-fe && eslint --fix, cd planner-fe && prettier --write

fix: dependencies
  planner-fe/src/features/statistics/components/_parts/SelectYear.tsx
  planner-fe/src/shared/components/ui/Dropdown/Dropdown.tsx
  planner-fe/src/shared/components/ui/Dropdown/parts/divider/Divider.module.scss
  planner-fe/src/shared/components/ui/Dropdown/parts/divider/Divider.tsx
  planner-fe/src/shared/components/ui/Dropdown/parts/menu-item/Item.module.scss
  planner-fe/src/shared/components/ui/Dropdown/parts/menu-item/MenuItem.tsx
  planner-fe/src/shared/components/ui/Dropdown/parts/message/Message.module.scss
  planner-fe/src/shared/components/ui/Dropdown/parts/message/Message.tsx
  planner-fe/src/shared/components/ui/LanguageSwitch.tsx
  planner-fe/src/shared/components/ui/select/SelectCustom.module.scss
  planner-fe/src/shared/components/ui/select/SelectCustom.tsx
Due: cd planner-fe && eslint --fix, cd planner-fe && prettier --write

fix: dependencies
  planner-fe/package.json
  planner-fe/src/features/planning/components/_parts/manage-goal/ManageGoal.tsx
  planner-fe/src/features/planning/components/_parts/manage-task/ManageTask.tsx
  planner-fe/src/features/statistics/components/_parts/SelectYear.tsx
  planner-fe/src/shared/components/ui/LanguageSwitch.tsx
  planner-fe/src/shared/components/ui/dropdown-custom/Dropdown.module.scss
  planner-fe/src/shared/components/ui/dropdown-custom/Dropdown.tsx
  planner-fe/src/shared/components/ui/dropdown-custom/parts/divider/Divider.module.scss
  planner-fe/src/shared/components/ui/dropdown-custom/parts/divider/Divider.tsx
  planner-fe/src/shared/components/ui/dropdown-custom/parts/menu-item/Item.module.scss
  planner-fe/src/shared/components/ui/dropdown-custom/parts/menu-item/MenuItem.tsx
  planner-fe/src/shared/components/ui/dropdown-custom/parts/message/Message.module.scss
  planner-fe/src/shared/components/ui/dropdown-custom/parts/message/Message.tsx
  planner-fe/src/shared/components/ui/select-custom/SelectCustom.module.scss
  planner-fe/src/shared/components/ui/select-custom/SelectCustom.tsx
  planner-fe/yarn.lock
Due: cd planner-fe && eslint --fix, cd planner-fe && prettier --write

fix: translation
  planner-be/src/modules/app.module.ts
  planner-fe/messages/uk/common.json
  planner-fe/src/features/planning/components/_parts/manage-task/ManageTask.tsx
  planner-fe/src/shared/components/ui/planning-input/index.module.scss
Due: cd planner-fe && eslint --fix, cd planner-fe && prettier --write, cd planner-be && eslint --fix, cd planner-be && prettier --write

fix: be dependencies
  planner-be/package.json
Due: cd planner-be && prettier --write

feat: add vercel.json
  planner-be/vercel.json
  planner-be/yarn.lock
  planner-fe/next.config.ts
Due: cd planner-fe && eslint --fix, cd planner-fe && prettier --write, cd planner-be && prettier --write

fix: update vercel.json
  planner-be/vercel.json
Due: cd planner-be && prettier --write

build: fix versel.json
  planner-be/vercel.json
Due: cd planner-be && prettier --write

build: vercel.json
  planner-be/.gitignore
  planner-be/package.json
  planner-be/versel.json
Due: cd planner-be && prettier --write

build: clean packaje json
  planner-be/package.json
  planner-be/vercel.json
Due: cd planner-be && prettier --write

build: frontend config
  planner-fe/next.config.ts
Due: cd planner-fe && eslint --fix, cd planner-fe && prettier --write

fix: manage tas component logic
  planner-fe/src/features/planning/components/_parts/manage-goal/ManageGoal.tsx
  planner-fe/src/features/planning/components/_parts/manage-task/ManageTask.tsx
  planner-fe/src/features/planning/helpers/filter-tasks-by-goal.ts
  planner-fe/src/features/planning/services/tasks.service.ts
  planner-fe/src/middleware.ts
  planner-fe/src/shared/constants/api-services.ts
  planner-fe/src/shared/helpers/is-object-the-same.ts
  planner-fe/tsconfig.json
Due: cd planner-fe && eslint --fix, cd planner-fe && prettier --write

fix: filter goals logic
  planner-fe/src/features/planning/components/_parts/manage-task/ManageTask.module.scss
  planner-fe/src/features/planning/components/_parts/manage-task/ManageTask.tsx
  planner-fe/src/features/planning/helpers/filter-tasks-by-goal.ts
  planner-fe/src/features/planning/hooks/useDragDrogHandler.ts
Due: cd planner-fe && eslint --fix, cd planner-fe && prettier --write

build: update vercel doc
  planner-be/vercel.json
  planner-fe/src/app/[locale]/(auth)/login/page.tsx
  planner-fe/src/app/[locale]/(auth)/register/page.tsx
  planner-fe/src/features/auth/components/GoogleAuthButton.tsx
  planner-fe/src/features/auth/components/LoginForm.tsx
  planner-fe/src/features/auth/components/RegisterForm.tsx
  planner-fe/src/features/auth/page/AuthForm.module.scss
  planner-fe/src/features/auth/page/AuthForm.tsx
  planner-fe/src/features/settings/components/add-image/ManageImage.module.scss
  planner-fe/src/features/settings/components/add-image/ManageImage.tsx
  planner-fe/src/features/settings/page/Settings.tsx
Due: cd planner-fe && eslint --fix, cd planner-fe && prettier --write, cd planner-be && prettier --write

refactor: pathes
  planner-fe/src/features/statistics/page/Statistics.tsx
  planner-fe/src/lib/edgestore.ts
Due: cd planner-fe && eslint --fix, cd planner-fe && prettier --write

build: be config
  planner-be/package.json
Due: cd planner-be && prettier --write

build: be config
  planner-be/vercel.json
Due: cd planner-be && prettier --write

build: be config
  planner-be/vercel.json
  planner-be/yarn.lock
Due: cd planner-be && prettier --write

build: add vercel congig
  planner-be/src/main.ts
  planner-be/vercel.json
Due: cd planner-be && eslint --fix, cd planner-be && prettier --write

build: fix package json
  planner-be/package.json
Due: cd planner-be && prettier --write

build: vercel config
  planner-be/src/main.ts
  planner-be/vercel.json
Due: cd planner-be && eslint --fix, cd planner-be && prettier --write

build: build config
  planner-be/package.json
Due: cd planner-be && prettier --write

build: vercel config
  planner-be/package.json
  planner-be/src/main.ts
  planner-be/vercel.json
  planner-be/yarn.lock
Due: cd planner-be && eslint --fix, cd planner-be && prettier --write

Path conditions:
  cd planner-fe && eslint --fix: any of: planner-fe/**/*.{js,jsx,ts,tsx}
  cd planner-fe && prettier --write: (any of: planner-fe/**/*.{js,jsx,ts,tsx}) or (any of: planner-fe/**/*.{json,md})
  cd planner-be && eslint --fix: any of: planner-be/**/*.ts
  cd planner-be && prettier --write: (any of: planner-be/**/*.ts) or (any of: planner-be/**/*.{json,md})
