Repository Yasya23/Tsilovo_planner: changes, and which lint-staged commands are due for each by the changed paths.
All: cd planner-fe && eslint --fix, cd planner-fe && prettier --write, cd planner-be && eslint --fix, cd planner-be && prettier --write

.lintstagedrc:

{
  "planner-fe/**/*.{js,jsx,ts,tsx}": [
    "cd planner-fe && eslint --fix",
    "cd planner-fe && prettier --write"
  ],
  "planner-fe/**/*.{json,md}": ["cd planner-fe && prettier --write"],
  "planner-be/**/*.ts": [
    "cd planner-be && eslint --fix",
    "cd planner-be && prettier --write"
  ],
  "planner-be/**/*.{json,md}": ["cd planner-be && prettier --write"]
}

chore: fix expoer in forget ppassword page
  planner-fe/src/app/[locale]/forgot-password/page.tsx
Due: cd planner-fe && eslint --fix, cd planner-fe && prettier --write

fix: scss Heroshowcase file name
  planner-be/dist/tsconfig.build.tsbuildinfo
Due: none

refactor(fe): file names
  planner-fe/src/app/[locale]/[...404]/page.tsx
  planner-fe/src/app/[locale]/error.tsx
  planner-fe/src/app/[locale]/planner/components/_sidebar/Sidebar.tsx
  planner-fe/src/features/planning/page/Planner.tsx
  planner-fe/src/shared/components/error-message/ErrorMessage.module.scss
  planner-fe/src/shared/components/error-message/ErrorMessage.tsx
  planner-fe/src/shared/components/footer/Footer.tsx
  planner-fe/src/shared/components/hero-showcase/HeroShowcase.tsx
  planner-fe/src/shared/components/hero-showcase/Showcase.module.scss
  planner-fe/src/shared/components/theme-toggle/ThemeToggle.module.scss
  planner-fe/src/shared/components/theme-toggle/ThemeToggle.tsx
Due: cd planner-fe && eslint --fix, cd planner-fe && prettier --write

chore(be): remove dist from gitignore for priduction
  planner-be/.gitignore
  planner-be/dist/modules/user/dto/UpdateAvatarDto.d.ts
  planner-be/dist/modules/user/dto/UpdateAvatarDto.js
  planner-be/dist/modules/user/dto/UpdateAvatarDto.js.map
  planner-be/dist/modules/user/dto/UpdateEmailDto.d.ts
  planner-be/dist/modules/user/dto/UpdateEmailDto.js
  planner-be/dist/modules/user/dto/UpdateEmailDto.js.map
  planner-be/dist/modules/user/dto/UpdateNameDto.d.ts
  planner-be/dist/modules/user/dto/UpdateNameDto.js
  planner-be/dist/modules/user/dto/UpdateNameDto.js.map
  planner-be/dist/modules/user/dto/UpdatePasswordDto.d.ts
  planner-be/dist/modules/user/dto/UpdatePasswordDto.js
  planner-be/dist/modules/user/dto/UpdatePasswordDto.js.map
  planner-be/dist/modules/user/dto/index.d.ts
  planner-be/dist/modules/user/dto/index.js
  planner-be/dist/modules/user/dto/index.js.map
Due: cd planner-be && eslint --fix, cd planner-be && prettier --write

fix: clean git cashe
  planner-be/dist/tsconfig.build.tsbuildinfo
Due: none

fix(auth): be google-strategy
  planner-be/src/modules/auth/decorator/auth.decorator.ts
  planner-be/src/modules/auth/dto/AuthDto.ts
  planner-be/src/modules/auth/dto/RegistrationDto.ts
  planner-be/src/modules/auth/guard/admin.guard.ts
  planner-be/src/modules/auth/strategies/google.strategy.ts
  planner-be/src/modules/goals/goals.controller.ts
  planner-be/src/modules/statistics/model/statistics.model.ts
  planner-be/src/modules/statistics/statistics.controller.ts
  planner-be/src/modules/tasks/tasks.controller.ts
  planner-be/src/modules/user/decorator/user.decorator.ts
  planner-be/src/modules/user/model/user.model.ts
  planner-be/src/modules/user/user.controller.ts
  planner-fe/src/app/[locale]/planner/components/_sidebar/Sidebar.tsx
  planner-fe/src/features/planning/hooks/usePlanning.ts
Due: cd planner-fe && eslint --fix, cd planner-fe && prettier --write, cd planner-be && eslint --fix, cd planner-be && prettier --write

fix(style): hyde planner button on auth pages
  planner-fe/src/shared/components/header/Header.tsx
Due: cd planner-fe && eslint --fix, cd planner-fe && prettier --write

fix(style): disable buttons
  planner-be/.gitignore
  planner-fe/src/shared/components/buttons/Button.module.scss
  planner-fe/src/shared/components/buttons/Button.tsx
  planner-fe/src/shared/components/footer/Footer.tsx
  planner-fe/src/shared/components/logo/Logo.module.scss
  planner-fe/src/styles/globals.scss
Due: cd planner-fe && eslint --fix, cd planner-fe && prettier --write

fix(profile): profile reset password and delete
  planner-be/dist/modules/mail/mail.service.js
  planner-be/dist/modules/mail/mail.service.js.map
  planner-be/dist/modules/user/user.controller.js
  planner-be/dist/modules/user/user.controller.js.map
  planner-be/dist/modules/user/user.service.js.map
  planner-be/dist/tsconfig.build.tsbuildinfo
  planner-be/src/modules/mail/mail.service.ts
  planner-be/src/modules/user/user.controller.ts
  planner-be/src/modules/user/user.service.ts
  planner-fe/public/images/help.png
  planner-fe/public/images/planner.png
  planner-fe/public/images/settings.png
  planner-fe/public/images/statistic.png
  planner-fe/src/app/[locale]/confirm-delete/page.tsx
  planner-fe/src/features/auth/constants/api-services.ts
  planner-fe/src/features/confirm-delete-account/constants/api-services.ts
  planner-fe/src/features/confirm-delete-account/hooks/useConfirmDelete.ts
  planner-fe/src/features/confirm-delete-account/page/ConfirmDelete.module.scss
  planner-fe/src/features/confirm-delete-account/page/ConfirmDelete.tsx
  planner-fe/src/features/confirm-delete-account/services/confirm.service.ts
  planner-fe/src/features/forgot-password/hooks/useForgotPassword.ts
  planner-fe/src/features/reset-password/page/ResetPassword.tsx
  planner-fe/src/features/reset-password/services/resetPassword.service.ts
  planner-fe/src/features/settings/hooks/useDeleteProfile.tsx
  planner-fe/src/features/settings/page/Settings.tsx
  planner-fe/src/lib/i18n/messages/en/common.json
  planner-fe/src/lib/i18n/messages/uk/common.json
  planner-fe/src/shared/components/buttons/Button.tsx
  planner-fe/src/shared/components/footer/Footer.tsx
  planner-fe/src/shared/components/hero-showcase/HeroShowcase.tsx
Due: cd planner-fe && eslint --fix, cd planner-fe && prettier --write, cd planner-be && eslint --fix, cd planner-be && prettier --write

feat(auth): invalid token when data has changed
  planner-be/.gitignore
  planner-be/dist/modules/auth/auth.controller.js
  planner-be/dist/modules/auth/auth.controller.js.map
  planner-be/dist/modules/auth/auth.service.d.ts
  planner-be/dist/modules/auth/auth.service.js
  planner-be/dist/modules/auth/auth.service.js.map
  planner-be/dist/modules/auth/decorator/user.decorator.d.ts
  planner-be/dist/modules/auth/decorator/user.decorator.js.map
  planner-be/dist/modules/auth/strategies/jwt.strategy.d.ts
  planner-be/dist/modules/auth/strategies/jwt.strategy.js
  planner-be/dist/modules/auth/strategies/jwt.strategy.js.map
  planner-be/dist/modules/mail/mail.service.js
  planner-be/dist/modules/mail/mail.service.js.map
  planner-be/dist/modules/user/decorator/user.decorator.d.ts
  planner-be/dist/modules/user/model/user.model.d.ts
  planner-be/dist/modules/user/model/user.model.js
  planner-be/dist/modules/user/model/user.model.js.map
  planner-be/dist/modules/user/user.service.js
  planner-be/dist/modules/user/user.service.js.map
  planner-be/dist/tsconfig.build.tsbuildinfo
  planner-be/src/modules/auth/auth.controller.ts
  planner-be/src/modules/auth/auth.service.ts
  planner-be/src/modules/auth/decorator/user.decorator.ts
  planner-be/src/modules/auth/strategies/jwt.strategy.ts
  planner-be/src/modules/auth/types/index.ts
  planner-be/src/modules/auth/types/user.type.d.ts
  planner-be/src/modules/mail/mail.service.ts
  planner-be/src/modules/user/decorator/user.decorator.ts
  planner-be/src/modules/user/model/user.model.ts
  planner-be/src/modules/user/user.service.ts
  planner-be/yarn.lock
  planner-fe/src/lib/i18n/messages/en/common.json
  planner-fe/src/shared/components/buttons/Button.tsx
Due: cd planner-fe && eslint --fix, cd planner-fe && prettier --write, cd planner-be && eslint --fix, cd planner-be && prettier --write

fix(settings): change password, change email
  planner-be/dist/modules/user/decorator/user.decorator.d.ts
  planner-be/dist/tsconfig.build.tsbuildinfo
  planner-fe/src/features/settings/components/change-data/ChangeEmail.tsx
  planner-fe/src/features/settings/components/change-data/ChangePassword.tsx
  planner-fe/src/features/settings/hooks/useChangeEmail.tsx
  planner-fe/src/features/settings/hooks/useChangePassword.tsx
  planner-fe/src/features/settings/hooks/useDeleteProfile.tsx
Due: cd planner-fe && eslint --fix, cd planner-fe && prettier --write, cd planner-be && eslint --fix, cd planner-be && prettier --write

chore(be): open dist folder for prod
  planner-be/.gitignore
  planner-be/dist/modules/auth/types/index.d.ts
  planner-be/dist/modules/auth/types/index.js
  planner-be/dist/modules/auth/types/index.js.map
  planner-be/dist/modules/goals/dto/ActiveGoalsResponse.d.ts
  planner-be/dist/modules/goals/dto/ActiveGoalsResponse.js
  planner-be/dist/modules/goals/dto/ActiveGoalsResponse.js.map
  planner-be/dist/modules/goals/dto/index.d.ts
  planner-be/dist/modules/goals/dto/index.js
  planner-be/dist/modules/goals/dto/index.js.map
  planner-be/dist/tsconfig.build.tsbuildinfo
Due: cd planner-be && eslint --fix, cd planner-be && prettier --write

fix(linter): linter errors
  planner-be/dist/modules/user/user.controller.d.ts
  planner-be/dist/modules/user/user.controller.js
  planner-be/dist/modules/user/user.controller.js.map
  planner-be/dist/modules/user/user.service.js.map
  planner-be/dist/tsconfig.build.tsbuildinfo
  planner-be/src/modules/user/user.controller.ts
  planner-be/src/modules/user/user.service.ts
  planner-fe/eslint.config.js
  planner-fe/src/features/auth/constants/api-services.ts
  planner-fe/src/features/confirm-delete-account/constants/api-services.ts
  planner-fe/src/features/confirm-delete-account/hooks/useConfirmDelete.ts
  planner-fe/src/features/confirm-delete-account/page/ConfirmDelete.tsx
  planner-fe/src/features/confirm-delete-account/services/confirm.service.ts
  planner-fe/src/features/planning/hooks/useGoals.ts
  planner-fe/src/features/planning/hooks/usePlanning.ts
  planner-fe/src/features/planning/types/goals.type.d.ts
  planner-fe/src/features/reset-password/hooks/useResetPassword.ts
  planner-fe/src/features/settings/constants/api-services.ts
  planner-fe/src/features/settings/helpers/update-email-schema.ts
  planner-fe/src/features/settings/services/user.service.ts
  planner-fe/src/lib/i18n/messages/en/common.json
  planner-fe/src/lib/i18n/messages/uk/common.json
Due: cd planner-fe && eslint --fix, cd planner-fe && prettier --write, cd planner-be && eslint --fix, cd planner-be && prettier --write

feat(delete): be delete all data when user profile was deleted
  planner-be/dist/main.js
  planner-be/dist/main.js.map
  planner-be/dist/modules/goals/goals.module.js
  planner-be/dist/modules/goals/goals.module.js.map
  planner-be/dist/modules/goals/goals.service.d.ts
  planner-be/dist/modules/goals/goals.service.js
  planner-be/dist/modules/goals/goals.service.js.map
  planner-be/dist/modules/statistics/statistics.module.js
  planner-be/dist/modules/statistics/statistics.module.js.map
  planner-be/dist/modules/statistics/statistics.service.d.ts
  planner-be/dist/modules/statistics/statistics.service.js
  planner-be/dist/modules/statistics/statistics.service.js.map
  planner-be/dist/modules/tasks/tasks.module.js
  planner-be/dist/modules/tasks/tasks.module.js.map
  planner-be/dist/modules/tasks/tasks.service.d.ts
  planner-be/dist/modules/tasks/tasks.service.js
  planner-be/dist/modules/tasks/tasks.service.js.map
  planner-be/dist/modules/user/user.module.js
  planner-be/dist/modules/user/user.module.js.map
  planner-be/dist/modules/user/user.service.d.ts
  planner-be/dist/modules/user/user.service.js
  planner-be/dist/modules/user/user.service.js.map
  planner-be/dist/tsconfig.build.tsbuildinfo
  planner-be/src/main.ts
  planner-be/src/modules/goals/goals.module.ts
  planner-be/src/modules/goals/goals.service.ts
  planner-be/src/modules/statistics/statistics.module.ts
  planner-be/src/modules/statistics/statistics.service.ts
  planner-be/src/modules/tasks/tasks.module.ts
  planner-be/src/modules/tasks/tasks.service.ts
  planner-be/src/modules/user/user.module.ts
  planner-be/src/modules/user/user.service.ts
Due: cd planner-be && eslint --fix, cd planner-be && prettier --write

style(settings): add padding to upload inage
  planner-be/.gitignore
  planner-fe/src/features/settings/components/add-image/ManageImage.module.scss
Due: none

fix(style): toas min height
  planner-fe/src/app/[locale]/layout.tsx
Due: cd planner-fe && eslint --fix, cd planner-fe && prettier --write

fix(delete-acc): be wait while email send
  planner-be/dist/modules/user/user.service.js
  planner-be/dist/modules/user/user.service.js.map
  planner-be/dist/tsconfig.build.tsbuildinfo
  planner-be/src/modules/user/user.service.ts
Due: cd planner-be && eslint --fix, cd planner-be && prettier --write

docs: Update README.md
  README.md
Due: none

Update README.md
  README.md
Due: none

fix(statistics be): update cron format
  planner-be/dist/modules/statistics/statistics.service.js
  planner-be/dist/modules/statistics/statistics.service.js.map
  planner-be/dist/tsconfig.build.tsbuildinfo
  planner-be/src/modules/statistics/statistics.service.ts
  planner-be/src/modules/tasks/dto/task.dto.ts
  planner-fe/package.json
Due: cd planner-fe && prettier --write, cd planner-be && eslint --fix, cd planner-be && prettier --write

fix(be): fix statistics cron calculation
  planner-be/dist/modules/statistics/model/statistics.model.d.ts
  planner-be/dist/modules/statistics/model/statistics.model.js
  planner-be/dist/modules/statistics/model/statistics.model.js.map
  planner-be/dist/modules/statistics/statistics.controller.d.ts
  planner-be/dist/modules/statistics/statistics.service.d.ts
  planner-be/dist/modules/statistics/statistics.service.js
  planner-be/dist/modules/statistics/statistics.service.js.map
  planner-be/dist/modules/tasks/tasks.service.js
  planner-be/dist/modules/tasks/tasks.service.js.map
  planner-be/dist/modules/user/decorator/user.decorator.d.ts
  planner-be/dist/tsconfig.build.tsbuildinfo
  planner-be/src/modules/statistics/model/statistics.model.ts
  planner-be/src/modules/statistics/statistics.service.ts
  planner-be/src/modules/statistics/types/task.type.d.ts
  planner-be/src/modules/tasks/tasks.service.ts
Due: cd planner-be && eslint --fix, cd planner-be && prettier --write

fix(be): cron statistics
  planner-be/dist/modules/statistics/statistics.service.js
  planner-be/dist/modules/statistics/statistics.service.js.map
  planner-be/dist/modules/user/decorator/user.decorator.d.ts
  planner-be/dist/tsconfig.build.tsbuildinfo
  planner-be/src/modules/statistics/statistics.service.ts
Due: cd planner-be && eslint --fix, cd planner-be && prettier --write

chore: rebuild dist
  planner-be/dist/modules/user/decorator/user.decorator.d.ts
  planner-be/dist/tsconfig.build.tsbuildinfo
Due: cd planner-be && eslint --fix, cd planner-be && prettier --write

fix: cron statictics
  planner-be/dist/modules/statistics/statistics.service.js
  planner-be/dist/modules/statistics/statistics.service.js.map
  planner-be/dist/modules/user/decorator/user.decorator.d.ts
  planner-be/dist/tsconfig.build.tsbuildinfo
  planner-be/src/modules/statistics/statistics.service.ts
Due: cd planner-be && eslint --fix, cd planner-be && prettier --write

feat(be): add cron for vercel
  planner-be/dist/modules/statistics/statistics.controller.d.ts
  planner-be/dist/modules/statistics/statistics.controller.js
  planner-be/dist/modules/statistics/statistics.controller.js.map
  planner-be/dist/modules/statistics/statistics.service.js
  planner-be/dist/modules/statistics/statistics.service.js.map
  planner-be/dist/tsconfig.build.tsbuildinfo
  planner-be/src/modules/statistics/statistics.controller.ts
  planner-be/src/modules/statistics/statistics.service.ts
  planner-be/vercel.json
Due: cd planner-be && eslint --fix, cd planner-be && prettier --write

fix: cron schedule for vercel
  planner-be/src/modules/statistics/statistics.service.ts
  planner-be/vercel.json
Due: cd planner-be && eslint --fix, cd planner-be && prettier --write

refactor: remove cron from statistics service, moved to vercel settings
  planner-be/src/modules/statistics/statistics.service.ts
Due: cd planner-be && eslint --fix, cd planner-be && prettier --write
