Repository Yasya23/Tsilovo_planner: changes, and which lint-staged commands are due for each by the changed paths.
All: cd planner-fe && eslint --fix, cd planner-fe && prettier --write, cd planner-be && eslint --fix, cd planner-be && prettier --write

build: confug vercel
  planner-be/package.json
  planner-be/vercel.json
  planner-be/yarn.lock
Due: cd planner-be && prettier --write

build: config
  planner-be/vercel.json
Due: cd planner-be && prettier --write

fix: remove folder from gitinfnore
  .gitignore
  planner-be/src/modules/tasks/dto/task.dto.ts
  planner-be/src/modules/tasks/tasks.controller.ts
  planner-be/src/modules/tasks/tasks.module.ts
  planner-be/src/modules/tasks/tasks.service.ts
  planner-be/vercel.json
Due: cd planner-be && eslint --fix, cd planner-be && prettier --write

build: config
  planner-be/package.json
Due: cd planner-be && prettier --write

build: config
  planner-be/package.json
  planner-be/src/main.ts
  planner-be/tsconfig.json
  planner-be/vercel.json
  planner-be/yarn.lock
Due: cd planner-be && eslint --fix, cd planner-be && prettier --write

build: vercel
  planner-be/vercel.json
Due: cd planner-be && prettier --write

build: vercel be config
  planner-be/.vercelignore
  planner-be/src/main.ts
  planner-be/vercel.json
Due: cd planner-be && eslint --fix, cd planner-be && prettier --write

build: config
  planner-be/api/index.js
  planner-be/package.json
  planner-be/src/main.ts
  planner-be/vercel.json
  planner-be/yarn.lock
Due: cd planner-be && eslint --fix, cd planner-be && prettier --write

build: config
  planner-be/package.json
  planner-be/vercel.json
Due: cd planner-be && prettier --write

build: vercel
  planner-be/api/index.js
  planner-be/vercel.json
Due: cd planner-be && prettier --write

build: versel
  planner-be/.vercelignore
  planner-be/vercel.json
Due: cd planner-be && prettier --write

fix: fix header twincling while scroll
  planner-fe/src/shared/components/header/Header.tsx
  planner-fe/src/shared/hooks/useScrollThreshold.tsx
Due: cd planner-fe && eslint --fix, cd planner-fe && prettier --write

fix: drag and drop task functionality
  planner-be/dist/modules/goals/goals.controller.d.ts
  planner-be/dist/modules/goals/goals.service.d.ts
  planner-be/dist/modules/goals/goals.service.js
  planner-be/dist/modules/goals/goals.service.js.map
  planner-be/dist/tsconfig.build.tsbuildinfo
  planner-be/src/modules/goals/goals.service.ts
  planner-fe/src/features/planning/components/weekly-todo/WeeklyTodo.tsx
  planner-fe/src/features/planning/helpers/map-weekly-tasks.ts
  planner-fe/src/features/planning/helpers/weekly-statistic.ts
  planner-fe/src/features/planning/hooks/useDragDrogHandler.ts
  planner-fe/src/features/planning/hooks/usePlanning.ts
  planner-fe/src/features/planning/types/goals.type.d.ts
  planner-fe/src/features/planning/types/task.type.d.ts
  planner-fe/src/shared/helpers/is-object-the-same.ts
Due: cd planner-fe && eslint --fix, cd planner-fe && prettier --write, cd planner-be && eslint --fix, cd planner-be && prettier --write

feat: autofocus input when create task
  planner-fe/src/features/planning/components/manage-task/ManageTask.tsx
  planner-fe/src/features/planning/components/tasks-section/TasksSection.tsx
  planner-fe/src/features/planning/hooks/useDragDrogHandler.ts
Due: cd planner-fe && eslint --fix, cd planner-fe && prettier --write

fix: useOptimistic logic in WeeklyToDo
  planner-be/dist/tsconfig.build.tsbuildinfo
  planner-fe/src/features/planning/components/tasks/day-section/DaySection.module.scss
  planner-fe/src/features/planning/components/tasks/day-section/DaySection.tsx
  planner-fe/src/features/planning/components/tasks/manage-task/ManageTask.module.scss
  planner-fe/src/features/planning/components/tasks/manage-task/ManageTask.tsx
  planner-fe/src/features/planning/components/tasks/tasks-section/TasksSection.module.scss
  planner-fe/src/features/planning/components/tasks/tasks-section/TasksSection.tsx
  planner-fe/src/features/planning/components/tasks/weekly-todo/WeeklyTodo.tsx
  planner-fe/src/features/planning/context/usePlanningContext.tsx
  planner-fe/src/features/planning/helpers/map-weekly-tasks.ts
  planner-fe/src/features/planning/hooks/useDragDrogHandler.ts
  planner-fe/src/features/planning/hooks/usePlanning.ts
  planner-fe/src/features/planning/page/Planner.tsx
  planner-fe/src/shared/components/planning-input/PlanningInput.tsx
  planner-fe/src/shared/hooks/useDebounce.tsx
Due: cd planner-fe && eslint --fix, cd planner-fe && prettier --write

feat: add opacity when update or create task
  planner-be/dist/modules/date/date.service.d.ts
  planner-be/dist/modules/date/date.service.js
  planner-be/dist/modules/date/date.service.js.map
  planner-be/dist/tsconfig.build.tsbuildinfo
  planner-be/src/modules/date/date.service.ts
  planner-fe/src/features/planning/components/tasks/day-section/DaySection.tsx
  planner-fe/src/features/planning/components/tasks/manage-task/ManageTask.tsx
  planner-fe/src/features/planning/helpers/map-weekly-tasks.ts
  planner-fe/src/features/planning/hooks/usePlanning.ts
Due: cd planner-fe && eslint --fix, cd planner-fe && prettier --write, cd planner-be && eslint --fix, cd planner-be && prettier --write

refactor: folders structure
  planner-be/dist/decorators/user.decorator.d.ts
  planner-be/dist/modules/auth/strategies/jwt.strategy.d.ts
  planner-be/dist/tsconfig.build.tsbuildinfo
  planner-fe/src/features/auth/components/GoogleAuthButton.tsx
  planner-fe/src/features/auth/constants/api-services.ts
  planner-fe/src/features/auth/services/auth.service.ts
  planner-fe/src/features/planning/components/goals/goals-list/GoalsList.tsx
  planner-fe/src/features/planning/components/goals/manage-goal/ManageGoal.tsx
  planner-fe/src/features/planning/components/tasks/day-section/DaySection.tsx
  planner-fe/src/features/planning/components/tasks/manage-task/ManageTask.tsx
  planner-fe/src/features/planning/components/tasks/weekly-todo/WeeklyTodo.tsx
  planner-fe/src/features/planning/components/weekly-statistic/WeeklyStatistic.tsx
  planner-fe/src/features/planning/constants/api-services.ts
  planner-fe/src/features/planning/constants/limits.ts
  planner-fe/src/features/planning/constants/queries.ts
  planner-fe/src/features/planning/context/usePlanningContext.tsx
  planner-fe/src/features/planning/helpers/is-object-the-same.ts
  planner-fe/src/features/planning/helpers/weekly-statistic.ts
  planner-fe/src/features/planning/hooks/useGoals.ts
  planner-fe/src/features/planning/hooks/usePlanning.ts
  planner-fe/src/features/planning/hooks/useTasks.ts
  planner-fe/src/features/planning/page/Planner.tsx
  planner-fe/src/features/planning/services/goals.service.ts
  planner-fe/src/features/planning/services/tasks.service.ts
  planner-fe/src/features/settings/constants/api-services.ts
  planner-fe/src/features/settings/services/user.service.ts
  planner-fe/src/features/statistics/components/goals-list/GoalsList.tsx
  planner-fe/src/features/statistics/components/tasks-list/TasksList.module.scss
  planner-fe/src/features/statistics/components/tasks-list/TasksList.tsx
  planner-fe/src/features/statistics/constants/api-services.ts
  planner-fe/src/features/statistics/services/statistics.service.ts
  planner-fe/src/features/statistics/types/statistics.type.d.ts
  planner-fe/src/shared/components/accordion/Accordion.module.scss
  planner-fe/src/shared/components/accordion/Accordion.tsx
  planner-fe/src/shared/constants/api-services.ts
  planner-fe/src/shared/constants/queries.ts
  planner-fe/src/shared/providers/AuthProvider.tsx
  planner-fe/src/shared/types/auth.type.d.ts
Due: cd planner-fe && eslint --fix, cd planner-fe && prettier --write, cd planner-be && eslint --fix, cd planner-be && prettier --write

feat: seaparate authorisation and authentication logic
  planner-be/.env.template
  planner-be/.gitignore
  planner-be/dist/decorators/user.decorator.d.ts
  planner-be/dist/modules/auth/auth.controller.d.ts
  planner-be/dist/modules/auth/auth.controller.js
  planner-be/dist/modules/auth/auth.controller.js.map
  planner-be/dist/modules/auth/auth.service.d.ts
  planner-be/dist/modules/auth/auth.service.js
  planner-be/dist/modules/auth/auth.service.js.map
  planner-be/dist/modules/auth/strategies/jwt.strategy.d.ts
  planner-be/dist/tsconfig.build.tsbuildinfo
  planner-be/src/modules/auth/auth.controller.ts
  planner-be/src/modules/auth/auth.service.ts
  planner-fe/src/features/auth/components/LoginForm.tsx
  planner-fe/src/features/auth/components/RegisterForm.tsx
  planner-fe/src/features/auth/hooks/useAuth.ts
  planner-fe/src/features/auth/page/AuthForm.tsx
  planner-fe/src/features/auth/services/auth.service.ts
  planner-fe/src/features/auth/types/auth.types.ts
  planner-fe/src/shared/hooks/useAuthentication.ts
  planner-fe/src/shared/providers/AuthProvider.tsx
  planner-fe/src/shared/services/authentication.service.ts
  planner-fe/src/shared/types/auth.type.d.ts
Due: cd planner-fe && eslint --fix, cd planner-fe && prettier --write, cd planner-be && eslint --fix, cd planner-be && prettier --write

fix: auth messages
  planner-be/dist/modules/auth/auth.service.js
  planner-be/dist/modules/auth/auth.service.js.map
  planner-be/dist/tsconfig.build.tsbuildinfo
  planner-be/src/modules/auth/auth.service.ts
  planner-fe/src/api/interceptors.ts
  planner-fe/src/features/auth/components/LoginForm.tsx
  planner-fe/src/features/auth/helpers/auth-error.ts
  planner-fe/src/features/auth/hooks/useAuth.ts
  planner-fe/src/features/planning/components/tasks/day-section/DaySection.module.scss
  planner-fe/src/features/planning/components/tasks/day-section/DaySection.tsx
  planner-fe/src/lib/i18n/messages/en/common.json
  planner-fe/src/lib/i18n/messages/uk/common.json
  planner-fe/src/shared/components/buttons/Button.module.scss
  planner-fe/src/shared/components/buttons/Button.tsx
  planner-fe/src/shared/types/auth.service.d.ts
Due: cd planner-fe && eslint --fix, cd planner-fe && prettier --write, cd planner-be && eslint --fix, cd planner-be && prettier --write

feat: delete responseError function
  planner-fe/src/lib/i18n/messages/en/common.json
  planner-fe/src/lib/i18n/messages/uk/common.json
  planner-fe/src/shared/hooks/useAuthentication.ts
  planner-fe/src/shared/services/authentication.service.ts
  planner-fe/src/shared/utils/response-error.ts
Due: cd planner-fe && eslint --fix, cd planner-fe && prettier --write

feat: create Settings forms
  planner-fe/src/api/interceptors.ts
  planner-fe/src/features/settings/components/change-data/ChangeData.module.scss
  planner-fe/src/features/settings/components/change-data/ChangeEmail.tsx
  planner-fe/src/features/settings/components/change-data/ChangeName.tsx
  planner-fe/src/features/settings/components/change-data/ChangePassword.tsx
  planner-fe/src/features/settings/components/change-password/ChangePassword.tsx
  planner-fe/src/features/settings/helpers/update-email-schema.ts
  planner-fe/src/features/settings/helpers/update-name-schema.ts
  planner-fe/src/features/settings/page/Settings.module.scss
  planner-fe/src/features/settings/page/Settings.tsx
  planner-fe/src/lib/i18n/messages/en/common.json
  planner-fe/src/lib/i18n/messages/uk/common.json
  planner-fe/src/middleware.ts
  planner-fe/src/shared/components/buttons/Button.tsx
  planner-fe/src/shared/components/header/Header.tsx
  planner-fe/src/shared/components/input/Input.tsx
Due: cd planner-fe && eslint --fix, cd planner-fe && prettier --write

fix: auth and registratiom forms
  planner-fe/src/features/auth/components/LoginForm.tsx
  planner-fe/src/features/auth/components/RegisterForm.tsx
  planner-fe/src/features/auth/page/AuthForm.tsx
  planner-fe/src/features/settings/components/change-data/ChangeEmail.tsx
  planner-fe/src/features/settings/components/change-data/ChangeName.tsx
  planner-fe/src/features/settings/components/change-data/ChangePassword.tsx
  planner-fe/src/shared/components/input/Input.module.scss
Due: cd planner-fe && eslint --fix, cd planner-fe && prettier --write

feat: frontend settings page
  planner-be/dist/tsconfig.build.tsbuildinfo
  planner-fe/src/features/settings/components/add-image/ManageImage.tsx
  planner-fe/src/features/settings/components/change-data/ChangeData.module.scss
  planner-fe/src/features/settings/components/change-data/ChangeEmail.tsx
  planner-fe/src/features/settings/components/change-data/ChangeName.tsx
  planner-fe/src/features/settings/components/change-data/ChangePassword.tsx
  planner-fe/src/features/settings/components/change-email/ChangeEmail.module.scss
  planner-fe/src/features/settings/components/change-email/ChangeEmail.tsx
  planner-fe/src/features/settings/constants/api-services.ts
  planner-fe/src/features/settings/hooks/useChangeEmail.tsx
  planner-fe/src/features/settings/hooks/useChangeName.tsx
  planner-fe/src/features/settings/hooks/useChangePassword.tsx
  planner-fe/src/features/settings/hooks/useDeleteProfile.tsx
  planner-fe/src/features/settings/hooks/useUploadImages.tsx
  planner-fe/src/features/settings/page/Settings.tsx
  planner-fe/src/features/settings/services/user.service.ts
  planner-fe/src/features/settings/types/updateData.d.ts
  planner-fe/src/lib/i18n/messages/en/common.json
  planner-fe/src/lib/i18n/messages/uk/common.json
Due: cd planner-fe && eslint --fix, cd planner-fe && prettier --write

feat: user profile updating - backend
  planner-be/dist/modules/user/user.controller.d.ts
  planner-be/dist/modules/user/user.controller.js
  planner-be/dist/modules/user/user.controller.js.map
  planner-be/dist/modules/user/user.service.d.ts
  planner-be/dist/modules/user/user.service.js
  planner-be/dist/modules/user/user.service.js.map
  planner-be/dist/tsconfig.build.tsbuildinfo
  planner-be/src/modules/user/dto/UpdateAvatarDto.ts
  planner-be/src/modules/user/dto/UpdateEmailDto.ts
  planner-be/src/modules/user/dto/UpdateNameDto.ts
  planner-be/src/modules/user/dto/UpdatePasswordDto.ts
  planner-be/src/modules/user/dto/index.ts
  planner-be/src/modules/user/user.controller.ts
  planner-be/src/modules/user/user.service.ts
Due: cd planner-be && eslint --fix, cd planner-be && prettier --write

feat: reset data when update is successfull
  planner-be/dist/modules/user/user.controller.js.map
  planner-be/dist/modules/user/user.service.js
  planner-be/dist/modules/user/user.service.js.map
  planner-be/dist/tsconfig.build.tsbuildinfo
  planner-be/src/modules/user/user.controller.ts
  planner-be/src/modules/user/user.service.ts
  planner-fe/public/icon.ico
  planner-fe/src/app/[locale]/icon.ico
  planner-fe/src/app/[locale]/layout.tsx
  planner-fe/src/features/auth/constants/api-services.ts
  planner-fe/src/features/auth/helpers/registration-shema.ts
  planner-fe/src/features/settings/components/change-data/ChangeData.module.scss
  planner-fe/src/features/settings/components/change-data/ChangeEmail.tsx
  planner-fe/src/features/settings/components/change-data/ChangeName.tsx
  planner-fe/src/features/settings/components/change-data/ChangePassword.tsx
  planner-fe/src/features/settings/helpers/update-name-schema.ts
  planner-fe/src/features/settings/helpers/update-password-schema.ts
  planner-fe/src/features/settings/hooks/useChangeEmail.tsx
  planner-fe/src/features/settings/hooks/useChangeName.tsx
  planner-fe/src/features/settings/hooks/useChangePassword.tsx
  planner-fe/src/features/settings/page/Settings.module.scss
  planner-fe/src/features/settings/page/Settings.tsx
  planner-fe/src/lib/i18n/messages/en/common.json
  planner-fe/src/lib/i18n/messages/uk/common.json
  planner-fe/src/middleware.ts
  planner-fe/src/shared/components/input/Input.tsx
  planner-fe/src/shared/hooks/useAuthentication.ts
  planner-fe/src/shared/types/user.type.d.ts
Due: cd planner-fe && eslint --fix, cd planner-fe && prettier --write, cd planner-be && eslint --fix, cd planner-be && prettier --write

fix: showing favicon
  planner-fe/public/images/icon.ico
  planner-fe/src/app/[locale]/layout.tsx
Due: cd planner-fe && eslint --fix, cd planner-fe && prettier --write

feat: how it worksa qa
  planner-fe/src/app/[locale]/planner/(pages)/help/components/HowItWorks.tsx
  planner-fe/src/features/planning/page/Planner.tsx
  planner-fe/src/features/statistics/components/goals-list/GoalsList.module.scss
  planner-fe/src/features/statistics/components/goals-list/GoalsList.tsx
  planner-fe/src/features/statistics/components/montly-states-header/MonthlyStatsHeader.module.scss
  planner-fe/src/features/statistics/components/statistics-data/StatisticsData.module.scss
  planner-fe/src/features/statistics/components/tasks-list/TasksList.module.scss
  planner-fe/src/features/statistics/page/Statistics.module.scss
  planner-fe/src/features/statistics/page/Statistics.tsx
  planner-fe/src/lib/i18n/messages/en/help.json
  planner-fe/src/lib/i18n/messages/uk/common.json
  planner-fe/src/lib/i18n/messages/uk/help.json
  planner-fe/src/lib/i18n/request.ts
  planner-fe/src/shared/components/accordion/Accordion.module.scss
  planner-fe/src/shared/components/accordion/Accordion.tsx
Due: cd planner-fe && eslint --fix, cd planner-fe && prettier --write

docs: add rules ti commit_rules
  docs/COMMIT_RULES.md
  planner-be/dist/modules/statistics/statistics.service.js
  planner-be/dist/modules/statistics/statistics.service.js.map
  planner-be/dist/tsconfig.build.tsbuildinfo
  planner-be/src/modules/statistics/statistics.service.ts
  planner-fe/src/features/settings/hooks/useUploadImages.tsx
  planner-fe/src/features/statistics/components/tasks-list/TasksList.tsx
Due: cd planner-fe && eslint --fix, cd planner-fe && prettier --write, cd planner-be && eslint --fix, cd planner-be && prettier --write

refactor: frontend code, clean components, fix small bugs
  planner-be/dist/modules/goals/goals.controller.d.ts
  planner-be/dist/modules/goals/goals.controller.js
  planner-be/dist/modules/goals/goals.controller.js.map
  planner-be/dist/modules/goals/goals.service.d.ts
  planner-be/dist/modules/goals/goals.service.js
  planner-be/dist/modules/goals/goals.service.js.map
  planner-be/dist/tsconfig.build.tsbuildinfo
  planner-be/src/modules/goals/goals.controller.ts
  planner-be/src/modules/goals/goals.service.ts
  planner-fe/src/features/auth/components/LoginForm.tsx
  planner-fe/src/features/planning/components/goals/goals-list/GoalsList.tsx
  planner-fe/src/features/planning/components/goals/manage-goal/ManageGoal.tsx
  planner-fe/src/features/planning/components/tasks/day-section/DaySection.tsx
  planner-fe/src/features/planning/components/tasks/weekly-todo/WeeklyTodo.tsx
  planner-fe/src/features/planning/components/weekly-statistic/WeeklyStatistic.tsx
  planner-fe/src/features/planning/hooks/useDragDrogHandler.ts
  planner-fe/src/features/planning/hooks/useGoals.ts
  planner-fe/src/features/planning/hooks/useTasks.ts
  planner-fe/src/features/planning/page/Planner.tsx
  planner-fe/src/features/planning/services/goals.service.ts
  planner-fe/src/features/settings/components/change-data/ChangeEmail.tsx
  planner-fe/src/features/settings/components/change-data/ChangeName.tsx
  planner-fe/src/features/settings/hooks/useChangeEmail.tsx
  planner-fe/src/features/settings/hooks/useChangeName.tsx
  planner-fe/src/features/settings/hooks/useChangePassword.tsx
  planner-fe/src/features/settings/services/user.service.ts
  planner-fe/src/features/settings/types/settings.d.ts
  planner-fe/src/shared/types/auth.service.d.ts
Due: cd planner-fe && eslint --fix, cd planner-fe && prettier --write, cd planner-be && eslint --fix, cd planner-be && prettier --write

refactor(schema): create shared validation schemas
  planner-fe/src/features/auth/helpers/login-schema.ts
  planner-fe/src/features/auth/helpers/registration-shema.ts
  planner-fe/src/features/settings/components/change-data/ChangeEmail.tsx
  planner-fe/src/features/settings/components/change-data/ChangePassword.tsx
  planner-fe/src/features/settings/helpers/update-email-schema.ts
  planner-fe/src/features/settings/helpers/update-name-schema.ts
  planner-fe/src/features/settings/helpers/update-password-schema.ts
  planner-fe/src/shared/helpers/validation-schemas.ts
Due: cd planner-fe && eslint --fix, cd planner-fe && prettier --write

feat(auth): reset and forget password ui
  planner-fe/src/app/[locale]/forgot-password/page.tsx
  planner-fe/src/app/[locale]/reset-password/page.tsx
  planner-fe/src/features/auth/components/LoginForm.tsx
  planner-fe/src/features/forgot-password/constants/api-services.ts
  planner-fe/src/features/forgot-password/helpers/email-schema.ts
  planner-fe/src/features/forgot-password/hooks/useForgotPassword.ts
  planner-fe/src/features/forgot-password/page/ForgotPassword.module.scss
  planner-fe/src/features/forgot-password/page/ForgotPassword.tsx
  planner-fe/src/features/forgot-password/services/forgotPassword.service.ts
  planner-fe/src/features/planning/components/goals/manage-goal/ManageGoal.tsx
  planner-fe/src/features/reset-password/constants/api-services.ts
  planner-fe/src/features/reset-password/helpers/reset-password-schema.ts
  planner-fe/src/features/reset-password/hooks/useResetPassword.ts
  planner-fe/src/features/reset-password/page/ResetPassword.module.scss
  planner-fe/src/features/reset-password/page/ResetPassword.tsx
  planner-fe/src/features/reset-password/services/resetPassword.service.ts
  planner-fe/src/lib/i18n/messages/en/common.json
  planner-fe/src/lib/i18n/messages/uk/common.json
  planner-fe/src/shared/constants/routes.ts
Due: cd planner-fe && eslint --fix, cd planner-fe && prettier --write

refactor(features): change query to fecth where it's not nessesary
  planner-fe/src/features/auth/hooks/useAuth.ts
  planner-fe/src/features/reset-password/hooks/useResetPassword.ts
  planner-fe/src/features/settings/hooks/useChangeEmail.tsx
  planner-fe/src/features/settings/hooks/useChangeName.tsx
  planner-fe/src/features/settings/hooks/useChangePassword.tsx
  planner-fe/src/features/settings/hooks/useDeleteProfile.tsx
  planner-fe/src/features/settings/hooks/useUploadImages.tsx
  planner-fe/src/features/statistics/hooks/use-statistics.ts
  planner-fe/src/shared/hooks/useAuthentication.ts
Due: cd planner-fe && eslint --fix, cd planner-fe && prettier --write

feat(ui): add Home page
  planner-fe/public/images/help.png
  planner-fe/src/app/[locale]/Home.module.scss
  planner-fe/src/app/[locale]/page.module.scss
  planner-fe/src/app/[locale]/page.tsx
  planner-fe/src/lib/i18n/messages/en/common.json
  planner-fe/src/lib/i18n/messages/en/home.json
  planner-fe/src/lib/i18n/messages/uk/common.json
  planner-fe/src/lib/i18n/messages/uk/home.json
  planner-fe/src/shared/components/LogOut.tsx
  planner-fe/src/shared/components/accordion/Accordion.tsx
  planner-fe/src/shared/components/buttons/Button.module.scss
  planner-fe/src/shared/components/buttons/Button.tsx
  planner-fe/src/shared/components/buttons/IconButton.tsx
  planner-fe/src/shared/components/footer/Footer.module.scss
  planner-fe/src/shared/components/footer/Footer.tsx
  planner-fe/src/shared/components/header/Header.module.scss
  planner-fe/src/shared/components/header/Header.tsx
  planner-fe/src/shared/components/hero-showcase/HeroShowCase.module.scss
  planner-fe/src/shared/components/hero-showcase/HeroShowcase.tsx
  planner-fe/src/shared/components/logo/Logo.module.scss
  planner-fe/src/shared/helpers/validation-schemas.ts
  planner-fe/src/shared/icons/icons.ts
  planner-fe/src/shared/utils/check-current-route.ts
  planner-fe/src/shared/utils/email-regx.ts
Due: cd planner-fe && eslint --fix, cd planner-fe && prettier --write

fix(style): font-size global
  planner-fe/src/shared/components/planning-input/PlanningInput.module.scss
  planner-fe/src/shared/components/themeToggle/ThemeToggle.module.scss
  planner-fe/src/styles/globals.scss
Due: none

Path conditions:
  cd planner-fe && eslint --fix: any of: planner-fe/**/*.{js,jsx,ts,tsx}
  cd planner-fe && prettier --write: (any of: planner-fe/**/*.{js,jsx,ts,tsx}) or (any of: planner-fe/**/*.{json,md})
  cd planner-be && eslint --fix: any of: planner-be/**/*.ts
  cd planner-be && prettier --write: (any of: planner-be/**/*.ts) or (any of: planner-be/**/*.{json,md})
